<div class="row main-content bg-overlay">
    <div class="row fade-in">
        <!-- Bagian Teks -->
        <div class="col-lg-6 col-md-6 text-white py-5 px-4">
            <h1 class="display-4">Selamat datang di Web Material Building :)</h1>
            <h2 class="lead">Kami menyediakan barang-barang material yang Anda butuhkan.</h2>
            <h2>Barang-barang material yang kami jual adalah barang berkualitas tinggi!</h2>
            <p>Selamat berbelanja!</p>
            <a href="product.html" class="btn btn-primary mt-3">Lihat Produk</a>
        </div>

        <!-- Bagian Gambar (Carousel) -->
        <div class="col-lg-6 col-md-6 py-5 text-center">
            <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="image/material.jpeg" class="d-block image-larger rounded-image"
                            alt="Material 1">
                    </div>
                    <div class="carousel-item">
                        <img src="image/material1.jpg" class="d-block image-larger rounded-image"
                            alt="Material 2">
                    </div>
                    <div class="carousel-item">
                        <img src="image/material2.jpeg" class="d-block image-larger rounded-image"
                            alt="Material 3">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>
</div>